# Node / JS
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next
out
*.tsbuildinfo

# NestJS
backend/dist

# Tests / Playwright
test-results
playwright-report

# Env
.env
.env.*
!.env.example

# DB migration temp dumps
.tmp-migrate

# Prisma
backend/prisma/dev.db
